---
import Icon from '@components/ui/icons/icon.astro';
---

<button
  class="button-base button-bg-blue group inline-flex rounded-lg gap-x-2"
  id="back-button"
  data-astro-prefetch
>
  <div class="button-text-title flex relative items-center text-center">
    <Icon name="arrowLeft" />
    <span class="ml-2">
      Go Back
    </span>
  </div>
</button>

<script>
  document.getElementById('back-button')?.addEventListener('click', () => {
    window.history.back();
  });
</script>
