---

---

<button
  class="button-base button-bg-blue group inline-flex rounded-lg gap-x-2"
  id="back-button"
  data-astro-prefetch
>
  <div class="button-text-title flex relative items-center text-center">
    <svg
      class=" shrink-0 group-hover:-translate-x-1 transition duration-300 h-4 w-4"
      height=24
      width=24
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m15 18-6-6 6-6"/>
    </svg>
    <span class="ml-2">
      Go Back
    </span>
  </div>
</button>

<script>
  document.getElementById('back-button')?.addEventListener('click', () => {
    window.history.back();
  });
</script>
