---
import { Icon } from 'astro-icon/components';
---

<div class="button-base button-bg-teal inline-flex shrink-0 rounded-lg gap-x-2">
  <div class="button-text-title flex relative items-center text-center">
    <span class="mr-2">
      Read More
    </span>
    <Icon
      name="mdi:keyboard-arrow-right"
      class="button-hover-arrow"
    />
  </div>
</div>
