---
import { readSingleton } from '@directus/sdk';

import LargeLinkCard from '@components/cards/LargeLinkCard.astro';
import directus from '@lib/directus';

const global = await directus.request(readSingleton('site_global'));
---

<section class:list={['mx-auto px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14 2xl:max-w-full', Astro.props.className]}>
  <div class="grid grid-cols-1">
    <LargeLinkCard
      title="All Posts"
      subTitle="Catch up on everything I've written so far here"
      url="/all"
      logoLight={global.all_logoLight}
      logoDark={global.all_logoDark}
    />
  </div>
</section>
