---
import type { Post } from '@lib/directusTypes';

import LargeBlogLeftCard from '@components/cards/LargeBlogLeftCard.astro';
import LargeBlogRightCard from '@components/cards/LargeBlogRightCard.astro';

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<section class="smooth-reveal-cards flex flex-col gap-4 md:mb-20">
  {posts.map((post, index) => index % 2 === 0 ? (
  <LargeBlogLeftCard post={post}/>
  ) : (
  <LargeBlogRightCard post={post}/>
  ))}
</section>
