---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alex Lebens" description="About Alex Lebens">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/hiking.jpg"
					alt="Alex Lebens hiking in Texas"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
                        Grew up exploring the outdoors just north of the Twin Cities.  Now, my passions include tinkering with my homelab,
                        camping adventures in my Jeep, and hitting the slopes or trails for skiing and hiking.  I've also been fortunate 
                        enough to travel extensively, visiting nearly every continent, including Antarctica!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Expierence</h2>
				<div class="content">
					<p>
                        Proudly served 6 years in the US Air Force, gaining valuable experience in Cyber Operations and Reconnaissance 
                        while stationed in Japan, Korea, and Texas.
					</p>
					<p>
                        Gained valuable experience working in the heart of Washington, D.C. for several years, including time at AWS. 
                        Relocated to Denver in late 2020 to enjoy the outdoor opportunities Colorado has to offer.
					</p>
                    <p>
                        Recently returned to my roots in Minnesota and eager to embrace new opportunities and challenges in my home state.
                    </p>
				</div>
			</section>            
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Currently completing my B.S. in Cloud Computing at Western Governors University. Excited to graduate in 2025!</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<p>AWS DevOps Engineer</p>
					<p>Certified Kubernetes Administrator</p>     
                    <p>Certified Kubernetes Application Developer</p> 
					<p>CompTIA Cloud+</p>                                  
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
