---
import { Icon } from 'astro-icon/components';

interface Props {
  title?: string;
  url?: string;
}

const { title, url } = Astro.props;
---

<a
  class="button-base button-bg-gitea group inline-flex rounded-full gap-x-2"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="button-text-title flex relative items-center text-center">
    <Icon
      name="pajamas:gitea"
      class="h-4 w-4 md:h-6 md:w-6"
    />
    <span class="ml-2">
      {title}
    </span>
    <Icon
      name="mdi:keyboard-arrow-right"
      class="button-hover-arrow"
    />
  </div>
</a>
