---
interface Props {
  title?: string;
  url?: string;
}

const { title, url } = Astro.props;
---

<a
  class="button-base button-bg-neutral group inline-flex rounded-lg gap-x-2"
  href={url}
  data-astro-prefetch
>
  <div class="button-text-title flex relative items-center text-center">
    <span>
      {title}
    </span>
  </div>
</a>
